.create-top{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.create-top-styled{
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 9999;
}
.create-hr{
    margin: 0.5rem -1rem;
    border-color: rgba(0,0,0,0.07);
}
.create-select-section{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.create-top-instruction{
    font-size: 0.85rem;
    margin-right: 0.5rem;
}
.create-top-description{
    font-weight: 500;
    cursor:context-menu;   
}
.create-close-icon{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}