.sidebar-lg-container{
    /* background-color: #fff;    
    border-bottom: 1px solid #f4f5f7;
    border-top: 1px solid #f4f5f7; */
    font-weight: 500;
    width: inherit;
    background-color: #fff;
    position: sticky;
    top: 3.25rem;
    left: 0;
    height: 100vh;
    overflow-y: hidden;    
}
.sidebar-lg-wrapper{
    margin: 0.5rem 1rem;    
}
.sidebar-lg-bottom{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;    
    gap: 0.5rem;
}
.sidebar-lg-bottom-item{      
    width: 75%;
    display: flex;    
    align-items: center;    
    padding: 0.7rem 1rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    position: relative;
    cursor: pointer;
}
.sidebar-lg-bottom-item:hover{
    color: #fff;
    background-color: #867883;
}
.sbi-lg-icon{
    margin-right: 1rem;
}
.sidebar-lg-notification-count{
    background-color: #c32aa3;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    position: absolute;
    right: -1rem;   
}
