.muted-story-authors{
    margin-top: 3rem;
    width: 100%;
    max-width: 30rem;
}
.muted-story-authors > header {
    margin-bottom: 1.5rem !important;
}
.muted-story-authors ul {
    margin-top: 2rem;
}