.story-page{
    margin-top: 3rem;
    background-color: #1b1b1b;
    display: flex;
}
/* Sidebar */
.story-sidebar{
    width: 22rem;
    min-width: 22rem;
    background-color: #fff;
    height: calc(100vh - 3rem);
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 1rem 1rem;
    border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.story-sidebar > header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.story-sidebar > header > h1{
    margin: 0;
    font-size: 1.5rem;
}
.story-sidebar > header > i{
    line-height: 0;
    font-size: 1.3rem;
    cursor: pointer;
}
.story-list{
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
}
.story-item{
    width: 100%;
    box-sizing: border-box;
    padding: 0.7rem;
    border-radius: 0.6rem;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}
.story-item:hover{
    background-color: rgba(121, 121, 121, 0.1);
}
.create-story-container:hover{
    background-color: inherit;
}
.create-story, .story-item > img, .story-item > video{
    width: 3.5rem;
    height: 3.5rem;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: rgba(121, 121, 121, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.story-item > img, .story-item > video{
    border: 2px solid #c32aa3;
    object-fit: cover;
}
.create-story > i{
    font-size: 2rem;
    color: #c32aa3;
}
.auth-user-section, .other-users-section{
    margin-bottom: 2rem;
}
.auth-user-section > p, .other-users-section > p  {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.story-item > article{
    width: calc(100% - 5rem);
}
.story-item > article > div:first-of-type{
    font-size: 1rem;
    color: gray;
    margin-bottom: 5px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.story-item > article > div:last-of-type{
    font-size: 0.9rem;
    opacity: 0.8;
}

/* main */
.story-page-main{
    width: calc(100% - 24rem);
    height: calc(100vh - 3rem);
    display: flex;
    justify-content: space-between;
}
.prev-story, .next-story{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.5rem;
    cursor: pointer;
}
.next-story{
    justify-content: flex-start;
}
.prev-story > i, .next-story > i{
    background-color: rgba(255, 255, 255, 0.7);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.first-story, .last-story{
    cursor: default;
}
.first-story > i, .last-story > i{
    display: none;
}
.prev-hover > i{
    background-color: #fff;
    transform: translateX(-0.7rem);
    transition: ease-out 500ms;
}
.next-hover > i{
    background-color: #fff !important;
    transform: translateX(0.7rem);
    transition: ease-out 500ms;
}
.story-page-main > section{
    width: 32rem;
    min-width: 32rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
}
.story-page-main > section > div{
    width: 100%;
    height: 100%;
    background-color: rgba(121, 121, 121, 0.1);
    margin-bottom: 0.7rem;
    border-radius: 0.6rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.story-page-main > section > div > img, .story-page-main > section > div > video{
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.story-page-main > section > input{
    padding: 1rem;
    box-sizing: border-box;
    width: calc(100% + 2rem);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 1.5rem;
    background-color: inherit;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
}
.story-page-main > section > input::placeholder{
    font-size: 1rem;
}
.story-page-main > section > input:focus{
    border: 1px solid #c32aa3;
    outline: none;
}
.story-desc-actions{
    position: absolute;
    top: 0;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    width: 100%;
    background-color: rgba(0,0,0,0.15);
}
.story-progress-container{
    width: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    gap: 0.2rem;
    justify-content: space-between;
}
.story-progress{
    width: 100%;
    height: 0.3rem;
    background-color: rgba(225,225,225,0.2);
    border-radius: 1rem;
}
.story-progress::-webkit-progress-bar, .story-progress::-moz-progress-bar{
    border-radius: 1rem;
}
.story-progress::-webkit-progress-value{
    background-color: #fff;
    border-radius: 1rem;
}
.story-avatar{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.story-user-actions{
    display: flex;
    align-items: center;
    width: 100%;
}
.story-flex-container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.story-flex-container > i{
    font-size: 1.2rem;
    cursor: pointer;
}
.story-link-error{
    width: 100%;
    text-align: center;
    background-color: #fff;
}