.post-text{
    font-size: 1rem;
    white-space: pre-wrap;
    padding: 1.5rem 0 1rem;
}
.block-message{
    color: #c32aac;
    margin-bottom: 2rem;
}
.post-media-container{
    width:100%;
    /* display: flex; */
    /* flex-flow: row wrap;
    gap: 2%; */   
    line-height: 0;
    position: relative;
}
.post-media{
    width: 100%;   
    max-height: 30rem;
    object-fit: cover;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 1.2rem;    
    cursor: pointer;    
}
.post-img-alt-button{
    position: absolute;
    bottom: 0.5rem;
    left: 0.7rem;
    border-radius: 0.35rem;
    border: none;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    padding: 0.2rem 0.5rem;
    font-weight: 800;
    cursor: pointer;
}
.post-img-alt-button:hover{
    opacity: 0.75;
}
.post-img-alt-button:focus{
    outline: none;
}
.post-media:focus{
    outline: none;
}
.post-media-playing{
    object-fit: contain;
}
.mentioned-user{
    display: inline-block;
    color: #c32aac;
    width: fit-content;
    cursor: pointer;
}
.mentioned-user:hover{
    opacity: 50%;
}
.invalid-username{
    color: inherit;    
}
.invalid-username:hover{
    opacity: 100%;
}