.forgot-password-container{
    justify-content: center;
    /* margin-top: 4rem; */
    text-align: center;
}
.forgot-password-container > div{
    margin-top: 4rem;
}
.forgot-password-form{
    width: 35rem;
}
.forgot-password-container > div > a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #c32aa3;
}
.forgot-password-container > div > a > span{
    margin-left: 0.5rem;
    font-weight: 600;
    opacity: 0.8;
}