.signup-form > section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: -1rem;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    box-sizing: border-box;
}
.signup-form > section > a {
    text-decoration: none;
    color: #c32aa3;
}
.signup-form > span{
    color: red;
    font-size: 0.8rem;
    /* margin-top: -10rem;
    margin-bottom: 2rem; */
}