.user-cameo-container{
    width: 100%;
    background-color: inherit;
    display: flex;
    gap: 1rem;
}
.user-cameo-container > section:first-of-type {
    width: fit-content;
}
.user-cameo-container > section:last-of-type{
    /* width: calc(100% - 3.5rem); */
    box-sizing: border-box;
}
.cameo-top{
    height: 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}
.cameo-top-head {
    display: flex;
    flex-direction: column;
    height: inherit;
    display: inline-block;
    /* flex: 1; */
    min-width: 0;
}
.cameo-header-no-aside, .cameo-header-aside{
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 700;
    font-size: 1.02rem;
}
.cameo-header-aside{
    gap: 0.5rem;
    position: relative;
}
.cameo-header-aside > header{
    width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cameo-header-no-aside > header{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cameo-header-aside > div{
    opacity: 0.9;
    font-size: 0.95rem;
    font-weight: normal;
    position: absolute;
    /* more like line height's dimension here for balance */
    top: 0.15rem;
    right: -2rem;
}
.cameo-sub-header{
    opacity: 0.75;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cameo-button{
    width: 8rem;
    height: 2.5rem;
    max-height: 2.5rem;
    border-radius: 1.25rem;
    background-color: #c32aa3;
    border: none;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}
.cameo-button:hover{
    opacity: 0.8;
}
.dark-button{
    background-color: #1b1b1b;
}
.user-cameo-icon{
    height: fit-content;
    width: fit-content;
    padding-left: 3rem;
    box-sizing: border-box;
}

@media screen and (max-width: 480px) {
    .user-cameo-container button{
        width: 6rem;
        border-radius: 1.25rem;
    }
}