.sidebar-item{      
    width: 10rem;
    max-width: 10rem;
    /* since width is 15rem. check "layout/sidebar then sidebar-container classname styling" */
    display: flex;    
    align-items: center;    
    padding: 0.7rem 1rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    position: relative;
    cursor: pointer;
    border: 1px solid #fff;
}
.current-page{
    color: #fff;
    background-color: #867883;
}
.sidebar-item:hover{
   border: 1px solid #867883;
}
.sidebar-item > i{
    margin-right: 1rem;
}
.sidebar-notification-count{
    background-color: #c32aa3;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    position: absolute;
    right: -1rem;
}