.sidebar-container{
    background-color: #fff;    
    border-bottom: 1px solid #f4f5f7;
    border-top: 1px solid #f4f5f7;
    border-right: 1px solid rgba(0,0,0,0.1);
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    width: 17rem;
    height: 100vh;
    z-index: 999;
    /* transition: 3s ease-out; */    
}
/* body{
    overflow-y: hidden;
} */
.sidebar-wrapper{
    margin: 0.5rem 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.sidebar-top{
    flex: 3;
}
.sidebar-avi{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}
.sidebar-chat-img{
    width: 1.2rem;
    height: 1.2rem;
    filter: opacity(0.5) drop-shadow(0 0 0 #808080);    
}
.sidebar-username{
    margin-top: 0.2rem;
    letter-spacing: 0.00rem;
    font-weight: 700;
    font-size: 1.2rem;
}
.sidebar-hr{ 
    border-color: rgba(0,0,0,0.1);
    width: 100%;
    flex: 1;
    margin-bottom: 2rem;
}
.sidebar-bottom{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    flex: 8;
    gap: 0.5rem;
}
.sidebar-bottom-item{      
    width: 75%;
    display: flex;    
    align-items: center;    
    padding: 0.7rem 1rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    position: relative;
    cursor: pointer;
}
.sidebar-bottom-item:hover{
    color: #fff;
    background-color: #867883;    
}
.sbi-icon{
    margin-right: 1rem;
}
.sidebar-notification-count{
    background-color: #c32aa3;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    position: absolute;
    right: -1rem;   
}
