.home-md-container{    
    background-color: #f4f5f7;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    /* background-color: #fff;    */
}
.home-md-main{
    display: flex;
    flex-flow: row nowrap;
    gap: 3vw;
    margin-left: 3vw;    
}
.home-md-main-wrapper{
    /* flex: 7.5; */
    margin-top: 0.7rem;    
}
.home-rightbar-container{
    /* flex: 4.5; */
    width: 35vw;
}
.home-md-main-wrapper{
    background-color: #f4f5f7;
}