.home-lg-container{    
    background-color: #f4f5f7;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    /* background-color: #fff;*/
}
.home-lg-main{
    display: flex;
    flex-flow: row nowrap;
    gap: 3vw;
    justify-content: space-between;
    /* margin-left: 3vw;*/
}
.home-lg-main-wrapper{
    /* flex: 7.5; */
    margin-top: 0.7rem;
    max-width: 40rem;    
}
.home-lg-rightbar-container{
    /* flex: 4.5; */
    width: 30vw;
    max-width: 30rem;
}
.home-lg-sidebar-container{
    /* flex: 4.5; */
    width: 15rem;
    
}
.home-lg-main-wrapper{
    background-color: #f4f5f7;
}